<div class="wrapper">
  <div class="container">
    <section>
      <app-home-reviews></app-home-reviews>
    </section>
  </div>
  <section>
    <app-home-header></app-home-header>
  </section>
  <div class="container">
    <section>
      <app-home-about></app-home-about>
    </section>
    <section>
      <app-home-team></app-home-team>
    </section>
    <section>
      <app-home-projects></app-home-projects>
    </section>
    <section>
      <app-home-news></app-home-news>
    </section>
    <section>
      <app-home-reviews></app-home-reviews>
    </section>
  </div>
</div>