<div class="projects" #projects>
  <div class="projects__title">
    <app-title [text]="'Last'" [word]="'projects'"></app-title>
  </div>
  <div class="projects__card">
    <app-card [cardClass]="'accent'" [buttonClass]="'accent'"></app-card>
    <app-card [cardClass]="'accent'" [buttonClass]="'accent'"></app-card>
    <app-card [cardClass]="'accent'" [buttonClass]="'accent'"></app-card>
  </div>
  <div class="projects__button">
    <app-button-primary [primaryName]="'All projects'"></app-button-primary>
  </div>
</div>