<div class="card">
  <div class="card__image">
    <img src="../../../assets/images/profile.jpg" alt="">
  </div>
  <div class="card__text">
    <div class="card__text-name">Name Surname</div>
    <div class="card__text-place">Kiev, Ukraine</div>
  </div>
  <div class="card__content">
    <p>Volunteer</p>
  </div>
  <div class="card__social">
    <app-social-simple [socialClass]="'fab fa-facebook-f'"></app-social-simple>
    <app-social-simple [socialClass]="'fab fa-instagram'"></app-social-simple>
  </div>
</div>