<div class="card">
  <div class="card__header" [ngClass]="cardClass">
    <div class="card__header-title">
      <h5>20.05.2022</h5>
    </div>
  </div>
  <div class="card__content">
    <div class="card__content-title">
      <h6>Title</h6>
    </div>
    <div class="card__content-text">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur voluptate nisi natus, harum, nostrum
        labore consectetur dolores suscipit eveniet iste magnam repellendus minus esse, maiores illum dignissimos
        asperiores rerum quos.</p>
    </div>
    <div class="card__content-button" [ngClass]="buttonClass">Discover</div>
  </div>
</div>