<div class="footer">
  <div class="footer__contacts">
    <div class="footer__contacts-telephone">
      <img src="../../../../../../assets/images/telephone__footer.svg" alt="">
      <span>+123456789</span>
    </div>
    <div class="footer__contacts-email">
      <img src="../../../../../../assets/images/email__footer.svg" alt="">
      <span>help@gmail.com</span>
    </div>
    <div class="footer__contacts-social">
      <a href="#"><app-social-simple [socialClass]="'fab fa-facebook-f'"></app-social-simple></a>
      <a href="#"><app-social-simple [socialClass]="'fab fa-instagram'"></app-social-simple></a>
    </div>
  </div>
</div>