<div class="reviews">
  <div class="reviews__header">
    <div class="reviews__header-title">
      <app-title [text]="'We are always where others'" [word]="'need help.'"></app-title>
    </div>
    <div class="reviews__header-controls">
      <span class="left" (click)="prev()"><i class="fa-solid fa-circle-arrow-left"></i></span>
      <span class="right" (click)="next()"><i class="fa-solid fa-circle-arrow-right"></i></span>
    </div>
  </div>
  <div class="reviews__cards" #slider>
    <app-review-card #sliderItem></app-review-card>
  </div>
</div>