<div class="reviews">
  <div class="reviews__header">
    <div class="reviews__header-title">
      <app-title [text]="'We are always where others'" [word]="'need help.'"></app-title>
    </div>
    <div class="reviews__header-controls">
      <app-slider-control [buttonText]="'<'" (click)="prev()"></app-slider-control>
      <app-slider-control [buttonText]="'>'" (click)="next()"></app-slider-control>
    </div>
  </div>
  <div class="reviews__cards">
    <app-review-card></app-review-card>
  </div>
  <div class="reviews__buttons">
    <app-button-primary [primaryName]="'New review'"></app-button-primary>
  </div>
</div>