@use "extends" as *;
@use "variables" as *;
@use "mixins-media" as *;
@use "skin" as *;

.reviews {
  display: grid;
  grid-template-areas: "header" "cards";
  gap: $gap;
  &__header {
    grid-area: header;
    display: grid;
    grid-template-areas: "title controls";
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    &-title {
      grid-area: title;
      text-align: left;
      width: 800px;
    }
    &-controls {
      grid-area: controls;
      justify-self: end;
      display: flex;
      gap: $gap;
      font-size: 3em;
      cursor: pointer;
    }
  }
  &__cards {
    grid-area: cards;
  }
  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}