<div class="reviews">
  <div class="reviews__header">
    <div class="reviews__header-title">
      <app-title [text]="'We are always where others'" [word]="'need help.'"></app-title>
    </div>
    <div class="reviews__header-controls">
      <span class="left" (click)="prev()"><i class="fa-solid fa-circle-arrow-left"></i></span>
      <span class="right" (click)="next()"><i class="fa-solid fa-circle-arrow-right"></i></span>
    </div>
  </div>
  <div class="reviews__cards">
    <div class="wrapper">
      <div class="cards" #cards>
        <div class="card" *ngFor="let cards of cardData" #card>
          <div class="card__image">
            <img src="{{cards.image}}" alt="">
          </div>
          <div class="card__content">
            <p>
              {{cards.text}}
            </p>
          </div>
          <div class="card__city">
            <p>{{cards.location}}</p>
          </div>
          <div class="card__text">
            <span>{{cards.name}}</span>
          </div>
          <div class="card__symbol">
            <p>”</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>