@use "extends" as *;
@use "variables" as *;
@use "mixins-media" as *;
@use "skin" as *;

.reviews {
  display: grid;
  grid-template-areas: "header" "cards";
  gap: $gap;
  &__header {
    grid-area: header;
    display: grid;
    grid-template-areas: "title controls";
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;
    @include sm {
      grid-template-areas: "title" "controls";
      gap: $gap;
      grid-template-columns: 1fr;
    }
    &-title {
      grid-area: title;
      text-align: left;
      width: 800px;
      @include lg {
        width: 600px;
      }
      @include md {
        width: 400px;
      }
      @include sm {
        width: 200px;
        text-align: center;
      }
    }
    &-controls {
      grid-area: controls;
      justify-self: end;
      display: flex;
      gap: $gap;
      font-size: 3em;
      cursor: pointer;
      @include sm {
        justify-self: center;
      }
    }
  }
  &__cards {
    grid-area: cards;
    display: flex;
    justify-content: center;
  }
  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}