@use "extends" as *;
@use "variables" as *;
@use "mixins-media" as *;
@use "skin" as *;

.wrapper {
  display: flex;
  align-items: center;
  height: 500px;
  position: relative;
  overflow: hidden;
  margin: 0;
  @include ul-min {
    width: 1360px;
  }
  @include ul-xl {
    width: 1160px;
  }
  @include xl-lg {
    width: 960px;
  }
  @include lg-md {
    width: 640px;
  }
  @include md-sm {
    width: 320px;
  }
  @include sm {
    width: 270px;
    height: 400px;
  }
}

.cards {
  display: flex;
  position: absolute;
  transition: all 1s ease;
  max-width: 100%;
  gap: 0;
  @include ul-min {
    gap: $gap * 4.75;
  }
  @include ul-xl {
    gap: $gap * 1.625;
  }
  
  .card {
    position: relative;
    display: grid;
    grid-template-areas: "image""content""city""text";
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    border-radius: $gap;
    padding: $gap;
    min-width: 350px;
    gap: $gap;
    margin-right: $gap;
    margin-left: $gap;
    background-color: $color-light;
    text-align: center;
    transition: all 0.5s;
    @include ul-xl {
      min-width: 325px;
    }
  
    @include xl {
      min-width: 280px;
    }
    @include md-min {
      &:hover {
        transform: translateY(-20px);
      }
    }
    @include sm {
      min-width: 250px;
      gap: $gap / 2;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
      margin-right: $gap / 2;
      margin-left: $gap / 2;
    }
  
    &__image {
      grid-area: image;
  
      img {
        border-radius: 50%;
        display: block;
        height: 100px;
        width: 100px;
        object-fit: cover;
        margin: $gap auto;
        @include sm {
          height: 80px;
          width: 80px;
        }
      }
    }
    &__content {
      grid-area: content;
      font-family: $font-main;
      font-style: italic;
      @include sm {
        font-size: 0.85em;
      }
    }
    &__city {
      grid-area: city;
      font-family: $font-header;
      font-weight: 500;
      font-size: 1.125em;
      @include sm {
        font-size: 1em;
      }
    }
    &__text {
      grid-area: text;
      font-family: $font-header;
      font-weight: bold;
      font-size: 1.5em;
      @include sm {
        font-size: 1.125em;
      }
    }
    &__symbol {
      position: absolute;
      width: 50px;
      height: 50px;
      background-color: $color-accent;
      border-radius: $gap / 2;
      top: -5%;
      left: 10%;
      p {
        color: black;
        font-size: 5em;
      }
    }
  }
}